<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>My name is {{name}}.</p>
        <p>My hobbies are:</p>
        <p>{{hobbiesList}}<p>  
        {{> footer}}
    </body>
</html>

